Source: hslogger
Priority: extra
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Uploaders: John Goerzen <jgoerzen@complete.org>
Build-Depends: debhelper (>= 5.0.0),
 cdbs,
 haskell-devscripts (>= 0.8),
 cpphs,
 haddock,
 hscolour,
 ghc,
 ghc-prof,
 libghc-mtl-dev,
 libghc-mtl-prof,
 libghc-hunit-dev,
 libghc-hunit-prof,
 libghc-time-dev,
 libghc-time-prof,
 libghc-network-dev,
 libghc-network-prof
Build-Depends-Indep:
 ghc-doc,
 libghc-mtl-doc,
 libghc-hunit-doc,
 libghc-time-doc,
 libghc-network-doc
Standards-Version: 3.9.0
Section: haskell
Homepage: http://hackage.haskell.org/package/hslogger
Vcs-Git: git://git.debian.org/git/pkg-haskell/hslogger.git
Vcs-Browser: http://git.debian.org/?p=pkg-haskell/hslogger.git;a=summary

Package: libghc-hslogger-dev
Architecture: any
Depends: ${misc:Depends}, ${haskell:Depends}, ${shlibs:Depends}
Suggests: ${haskell:Suggests}
Recommends: ${haskell:Recommends}
Provides: ${haskell:Provides}
Description: The Haskell Logging Framework, GHC package
 hslogger is a logging framework for Haskell, roughly similar to
 Python's logging module.
 .
 hslogger lets each log message have a priority and source be associated
 with it.  The programmer can then define global handlers that route
 or filter messages based on the priority and source.  hslogger also
 has a syslog handler built in.

Package: libghc-hslogger-prof
Architecture: any
Depends: ${misc:Depends}, ${haskell:Depends}
Suggests: ${haskell:Suggests}
Recommends: ${haskell:Recommends}
Provides: ${haskell:Provides}
Description: The Haskell Logging Framework, GHC profiling libraries
 hslogger is a logging framework for Haskell, roughly similar to
 Python's logging module.
 .
 hslogger lets each log message have a priority and source be associated
 with it.  The programmer can then define global handlers that route
 or filter messages based on the priority and source.  hslogger also
 has a syslog handler built in.
 .
 This package contains the libraries used to profile programs linked
 against hslogger.

Package: libghc-hslogger-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}, ${haskell:Depends}
Suggests: ${haskell:Suggests}
Recommends: ${haskell:Recommends}
Provides: hslogger-doc
Conflicts: hslogger-doc
Replaces: hslogger-doc
Description: The Haskell Logging Framework, API Documentation
 hslogger is a logging framework for Haskell, roughly similar to
 Python's logging module.
 .
 hslogger lets each log message have a priority and source be associated
 with it.  The programmer can then define global handlers that route
 or filter messages based on the priority and source.  hslogger also
 has a syslog handler built in.
 .
 This package contains the API documentation.

